<!DOCTYPE html>
<html>
    <head>
        <title>Pitch</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Pitch</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    <% } else { %>
                    <!--shows the currently logged in username in the navbar-->
                        <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                        <li><a href="/logout">Logout</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
<!--Error handling message goes here -->
    <div class="container">
<!--we need error.length > 0 because, while it's still empty, it's an empty array. which is not falsey -->
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
            <%= error %>
    </div> 
    <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
        <%= success %>
    </div> 
    <% } %>
</div>
